@import './var.less';


html {
  height: 100%;
  font-size: 16px;
}

body {
  margin: auto;
  color: var(--kenote-text);
  font-family: var(--font-family);
  background-color: var(--kenote-bg);
}

body, #app {
  
  height: inherit;
}

.markdown-body {
  margin: 1.5rem;

  h1, h2 {
    border-bottom: none;
  }

  ul {
    list-style-type: disc;
  }

  table {
    display: table !important;
    color: var(--kenote-text);
    // opacity: .9;
    font-size: 14px;
    // max-width: 100vw;

    tr {
      background-color: inherit;
      border-top: 1px solid var(--kenote-bc);

      &:nth-child(2n) {
        background-color: inherit;
      }
    }

    td, th {
      // border: none;
      white-space: break-spaces;
      border: 1px solid #b2b4b54f;
    }

    th {
      font-weight: 400;
      text-align: left;
    }

    td {
      font-weight: 100;
    }
  }
}

@media (max-width: 1023.9px) {
  .markdown-body {
    padding-bottom: 2rem;

    table {
      display: block !important;
    }
  }
}

.code-wrapper {
  // border: 1px #ccc solid;
  background-color: var(--kenote-code-bg) !important;

  code, code[class*='language-'], pre[class*='language-'] {
    line-height: 1;
    color: var(--kenote-code-text);
  }

  code, :not(pre) > code[class*='language-'], pre[class*='language-'] {
    background-color: var(--kenote-code-bg);
  }
}

.router-link-active {
  --tw-text-opacity: 1;
  border-color: rgba(147, 197, 253, var(--tw-text-opacity)) !important;
  color: rgba(147, 197, 253, var(--tw-text-opacity)) !important;
}

.logo > .router-link-active {
  color: var(--kenote-text) !important;
}

// figure {
  // width: auto;
  // height: 96px;
  // margin: revert;
  // margin-left: 28px;
  // > img {
  //   max-width: inherit;
  //   position: absolute;
  //   clip: rect(0, 96px, 96px, 0);
  // }
// }

.text-primary {
  --tw-text-opacity: 1;
  color: rgba(230, 96, 87, var(--tw-text-opacity));
}

.ring-primary {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(230, 96, 87, var(--tw-ring-opacity));
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgba(230, 96, 87, var(--tw-border-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgba(191, 75, 68, var(--tw-bg-opacity));
}

.bg-primary1 {
  // --tw-bg-opacity: 1;
  background-color: rgba(191, 75, 68, var(--tw-bg-opacity));
}

.hover\:bg-primary-600:hover{--tw-bg-opacity: 1;background-color:rgba(191, 75, 68,var(--tw-bg-opacity))}

// .el-autocomplete {

  .el-input, .el-range-editor {
    font-size: 14px;

    .el-input__inner, &.el-input__inner, .el-range-input {
      background-color: var(--kenote-input-bg);
      border-color: var(--kenote-bc);
      color: var(--kenote-input-text);
    }
  }

// }
.el-textarea {
  .el-textarea__inner {
    background-color: var(--kenote-input-bg);
    border-color: var(--kenote-bc);
    color: var(--kenote-input-text);
  }
}
.el-input-number >span {
  background: var(--kenote-input-bg);
  border-color: var(--kenote-bc) !important;
  color: var(--kenote-input-text);
}

.el-popper {
  background-color: var(--kenote-popper-bg);
  border: 1px solid var(--kenote-popper-bc);
  

  .el-select-dropdown__item, .el-dropdown-menu__item {
    color: var(--kenote-popper-text) !important;
    background-color: var(--kenote-popper-bg);

    &.selected {
      color: #409EFF !important;
      background-color: var(--kenote-popper-bg) !important;
    }

    &.hover, &:hover {
      background-color: var(--kenote-popper-hover) !important;
    }

    &.is-disabled {
      color: #bbb !important;
    }
  }

  .el-select-group__wrap:not(:last-of-type)::after {
    background: var(--kenote-popper-bc);
  }

  // .popper__arrow {
  //   border-color: var(--kenote-bc) !important;

  //   &::after {
  //     border-top-color: var(--kenote-popper-bg) !important;
  //     border-bottom-color: var(--kenote-popper-bg) !important;
  //   }
  // }
}

.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: var(--kenote-bc) !important;

  &::after {
    border-bottom-color: var(--kenote-popper-bg) !important;
  }
}

.el-popper[x-placement^=top] .popper__arrow {
  border-top-color: var(--kenote-bc) !important;

  &::after {
    border-top-color: var(--kenote-popper-bg) !important;
  }
}


.el-date-table th {
  border-bottom: solid 1px var(--kenote-popper-bc);
}
.el-date-picker__time-header {
  border-bottom: solid 1px var(--kenote-popper-bc);
}
.el-picker-panel__footer {
  background-color: var(--kenote-popper-bg);
  border-top: solid 1px var(--kenote-popper-bc);

  .is-plain {
    background-color: var(--kenote-popper-bc);
    border: solid 1px var(--kenote-popper-bc);
    color: var(--kenote-paratext);

    &:hover {
      background-color: var(--kenote-popper-hover);
      border: solid 1px var(--kenote-popper-bc);
      color: var(--kenote-popper-text);
    }
  }
}


.el-time-panel__content::after, .el-time-panel__content::before {
  border-top: solid 1px var(--kenote-popper-bc);
  border-bottom: solid 1px var(--kenote-popper-bc);
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
  background:var(--kenote-popper-hover) !important;
}
.el-time-panel__footer {
  background-color: var(--kenote-popper-bg);
  border-top: solid 1px var(--kenote-popper-bc);
  
}
.el-time-range-picker__body {
  border: solid 1px var(--kenote-popper-bc);
}

.el-date-table td.selected div {
  background-color: inherit;

  &:hover {
    background-color: inherit;
  }
}

.el-date-picker__header--bordered {
  border-bottom: solid 1px var(--kenote-popper-bc);
}

.el-picker-panel [slot=sidebar], .el-picker-panel__sidebar {
  border-right: solid 1px var(--kenote-popper-bc);
}

.el-date-table td.in-range div, 
.el-date-table td.in-range div:hover, 
.el-date-table.is-week-mode .el-date-table__row.current div, 
.el-date-table.is-week-mode .el-date-table__row:hover div {
  background-color: var(--kenote-popper-hover);
}

.el-date-range-picker__time-header {
  border-bottom: solid 1px var(--kenote-popper-bc);
}
.el-date-range-picker__content.is-left {
  border-right: solid 1px var(--kenote-popper-bc);
}
.el-month-table td.in-range div, .el-month-table td.in-range div:hover {
  background-color: var(--kenote-popper-hover);
}

.el-transfer-panel {
  background-color: var(--kenote-popper-bg);
  border-color: var(--kenote-bc);
  
  .el-transfer-panel__header {
    background-color: var(--kenote-input-bg);
    border-color: var(--kenote-bc);

    .el-checkbox .el-checkbox__label {
      color: var(--kenote-input-text);
    }
  }
}


.el-checkbox__label {
  color: var(--kenote-input-text);
  opacity: .7;
}

.el-cascader-menu {
  border-color: var(--kenote-bc);
  color: var(--kenote-popper-text);
}
.el-cascader-node {

  &.is-disabled {
    color: var(--kenote-paratext);
  }

  &.in-active-path {
    background-color: transparent;
  }

  &:hover {
    background-color: var(--kenote-popper-hover) !important;
  }

  &:not(.is-disabled) {

    &:focus, &:hover {
      background-color: transparent;
    }
  }
}
.el-cascader-panel.is-bordered {
  border-color: var(--kenote-bc);
  background-color: var(--kenote-popper-bg);
}
// .el-cascader-node:not(.is-disabled):focus, .el-cascader-node:not(.is-disabled):hover
.el-button:not(.el-button--primary):not(.el-button--text):not(.el-button--warning):not(.el-button--danger):not(.el-button--info):not(.el-button--success) {
  background: var(--kenote-bg);
  border-color: var(--kenote-bc);
  color: var(--kenote-code-text);

  &:hover {
    background: var(--kenote-code-bg) !important;
  }
}
.el-button.is-disabled.is-plain, .el-button.is-disabled.is-plain:focus, .el-button.is-disabled.is-plain:hover {

  &:not(.el-button--primary):not(.el-button--text):not(.el-button--warning):not(.el-button--danger):not(.el-button--info):not(.el-button--success) {
    background-color: var(--kenote-bg) !important;
    border-color: var(--kenote-bc);
    color: var(--kenote-code-text);
  }
}
.el-button--success.is-plain {
  background: #88d65c2e;
  border-color: #8fcb7152;
  &.is-disabled, &.is-disabled:hover {
    color: #5dae3473;
    background-color: #bcf79c30;
    border-color: #8ec67336;
  }
}
.el-button--primary.is-plain {
  background: #a0c9f636;
  border-color: #8cbcee52;
  &.is-disabled, &.is-disabled:hover {
    color: #4c8fd47a;
    background-color: #bfcfe136;
    border-color: #a2bedb42;
  }
}
.el-button--warning.is-plain {
  background: #f7e1c145;
  border-color: #e0ac5f5e;
  &.is-disabled, &.is-disabled:hover {
    color: #d6933080;
    background-color: #f8dbb14a;
    border-color: #e3bc8452;
  }
}
.el-button--danger.is-plain {
  background: #fbb1b140;
  border-color: #f39a9a59;
  &.is-disabled, &.is-disabled:hover {
    color: #ec787878;
    background-color: #fbc6c633;
    border-color: #e9aaaa4d;
  }
}
.el-button--info.is-plain {
  background: #d6d6d640;
  border-color: #95969852;
  &.is-disabled, &.is-disabled:hover {
    color: #9499a378;
    background-color: #cdcdcd40;
    border-color: #b6b6ba3d;
  }
}
// .el-button--primary {
//   background-color: #409EFF;
//   border-color: #409EFF;
//   color: #fff;
// }
.form-container.border {
  background: var(--kenote-bg);
  border-color: var(--kenote-bc) !important;
}
.el-dialog {
  background: var(--kenote-bg);
  border: 1px solid var(--kenote-bc);
}
.el-dialog__title {
  color: var(--kenote-popper-text);
}
.el-dialog__body {
  color: var(--kenote-paratext);
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}
.el-dropdown .el-dropdown__caret-button.el-button--default::before {
  background: var(--kenote-bc);
}
.el-message-box {
  background-color: var(--kenote-bg);
  border: 1px solid var(--kenote-bc);
}
.el-message-box__title {
  color: var(--kenote-popper-text);
}


.el-table th.el-table__cell {
  background-color: var(--kenote-bg);
}
.el-table td.el-table__cell {
  background-color: var(--kenote-bg);

  // &:hover {
  //   background-color: var(--kenote-popper-hover);
  // }
}
.el-table__body tr.hover-row>td.el-table__cell {
  background-color: var(--kenote-popper-hover) !important;
}
.el-table-column--selection .cell {
  padding-left: 14px !important;
}

.searchbar-popper {
  background-color: var(--kenote-popper-bg);
  border-color: var(--kenote-popper-bc);

  &[x-placement^=bottom] .popper__arrow {
    border-bottom-color: var(--kenote-popper-bc);

    &::after {
      border-bottom-color: var(--kenote-popper-bg);
    }
  }

  li {
    color: var(--kenote-popper-text);
    border-bottom: 1px solid;
    border-color: var(--kenote-popper-bc);

    .description {
      color: var(--kenote-paratext);
    }

    .keywords {
      color: var(--kenote-keywords);
    }
    
    &.highlighted,
    &:hover {
      color: var(---kenote-popper-text);
      background-color: var(--kenote-popper-hover);
    }
  }
}